@inherits LayoutComponentBase
@inject GigaChadSysWeb.AppAdminsToggleService ToggleSvc
@inject IJSRuntime JS
@implements IDisposable

<div class="auth-layout">
    @Body
</div>

<GlobalToast />

@if (ToggleSvc.Visible)
{
    <AppAdmins />
}

@code {
    protected override void OnInitialized()
    {
        ToggleSvc.OnChange += HandleToggleChange;
        ToggleSvc.OnAutoClick += HandleAutoClick;
    }

    private async void HandleAutoClick()
    {
        await InvokeAsync(async () =>
        {
            StateHasChanged();
            await Task.Delay(300);
            await JS.InvokeVoidAsync("eval", "document.querySelector('.gc-btn-danger-float')?.click()");
        });
    }

    private async void HandleToggleChange()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        ToggleSvc.OnChange -= HandleToggleChange;
        ToggleSvc.OnAutoClick -= HandleAutoClick;
    }
}