@inherits LayoutComponentBase
@inject GigaChadSysWeb.AppAdminsToggleService ToggleSvc
@inject IJSRuntime JS
@implements IDisposable

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@if (ToggleSvc.Visible)
{
    <AppAdmins />
}

@code {
    protected override void OnInitialized()
    {
        ToggleSvc.OnChange += HandleToggleChange;
        ToggleSvc.OnAutoClick += HandleAutoClick;
    }

    private async void HandleAutoClick()
    {
        await InvokeAsync(async () =>
        {
            StateHasChanged();
            await Task.Delay(300);
            await JS.InvokeVoidAsync("eval", "document.querySelector('.gc-btn-danger-float')?.click()");
        });
    }

    private async void HandleToggleChange()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        ToggleSvc.OnChange -= HandleToggleChange;
        ToggleSvc.OnAutoClick -= HandleAutoClick;
    }
}